@page "/discos"

@inject IGenericService<Disco> _discoService

<PageTitle>Discos</PageTitle>

<h1>Capacitaciones</h1>

@if (discos == null)
{
    <p><em>Cargando...</em></p>
}
else if (!discos.Any())
{
    <p><em>No hay discos disponibles.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Artista</th>
                <th>Genero</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disco in discos)
            {
                <tr>
                    <td>@disco.Titulo</td>
                    <td>@disco.Artista</td>
                    <td>@disco.Genero</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Disco>? discos;

    protected override async Task OnInitializedAsync()
    {
        discos = (await _discoService.GetAllAsync(null))?.ToList();
    }
}
