@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Music Core</h1>

<h4>Music Core es una plataforma de una tienda de discos, en ella se puede administrar y visualizar las ventas de los discos y la informacón sobre ellos</h4>
