@page "/"
<PageTitle>Inicio</PageTitle>

<PageHeader Title="MusicCore" Description="Plataforma de ventas de discos" />

<div style="text-align: justify;">
    <h4>
        Music Core es una plataforma de una tienda de discos, en ella se puede
        administrar y visualizar el stock de discos disponibles de la tienda
        y visualizar, cargar y editar ventas realizadas.
    </h4>
</div>
