@inject FirebaseAuthService firebaseAuthService


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MusicCore</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        @if (isAuthenticated)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="discos">
                    <span class="bi bi-disc" aria-hidden="true"></span> Discos
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ventas">
                    <span class="bi bi-cash" aria-hidden="true"></span> Ventas
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-login" aria-hidden="true"></span>
                @textBtnLogin
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isAuthenticated = false;
    private string textBtnLogin => isAuthenticated ? "Cerrar sesión" : "Iniciar sesión";

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await firebaseAuthService.IsUserAuthenticated();
        firebaseAuthService.OnChangeLogin += LoginHasChanged;
    }
    private async void LoginHasChanged()
    {
        isAuthenticated = await firebaseAuthService.IsUserAuthenticated();
        StateHasChanged();
    }
}
